nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.navbar {
    background-color: rgb(99, 95, 95);
}

.navbar-left {
    margin-left: 15px;
}

.navbar-right {
    margin-right: 15px;
}

.navbar ul {
    list-style: none;
    color: white;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin: 40px;
}

.navbar a:hover {
    color: red;
}